/* //////////////////////////////////////////// */

.r-section {
  display: grid;
  grid-template-columns: repeat(4, 300px); /* 4 columns */
  grid-template-rows: repeat(2, auto);     /* 2 rows */
  gap: 20px;
  justify-content: center;
  background-color: var(--bg);
  width: 100%;
  margin:  10px auto;
  padding: 10px;
}

/* Card */
.card {
  border: 1px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--card);
  box-shadow: 0 2px 6px var(--border);
  transition: 0.3s ease;
  height: 390px;
}

.card:hover {
  transition: 0.3s ease;
  border-color: var(--accent);
  background-color: var(--bg);
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 2px 3px var(--accent);
}

/* Image */
.img img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* Links */
.Git-link-more {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Git-link-more div a span {
  font-size: 22px;
  margin-right: 8px;
  transition: 0.2s;
}

.Git-link-more div a span:hover {
  color: #333;
  scale: 1.15;
}

.Git-link-more a span {
  font-size: 18px;
  transition: 0.2s;
}

.Git-link-more a span:hover {
  transform: translateX(3px);
}

.icon-arrow-right {
  color: var(--blue);
}

/* Text */
p {
  color: var(--subtitle);
  font-size: 13px;
  margin: 5px 10px 15px;
  line-height: 1.4;
}

.card h3 {
  color: var(--text);
  margin: 10px;
}

a {
  color: #9198A3;
}

/* Animation */
.card.animate {
  animation: card 0.5s ease forwards;
}

/* //////////////////////////////////////////// */
/* Responsive */

/* 3 columns */
@media (max-width: 1200px) {
  .r-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 columns */
@media (max-width: 900px) {
  .r-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column */
@media (max-width: 600px) {
  html, body {
  overflow-x: hidden;
}

  .r-section {
    grid-template-columns: 1fr;
  }
}
