@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jj3az1');
  src:  url('fonts/icomoon.eot?jj3az1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jj3az1') format('truetype'),
    url('fonts/icomoon.woff?jj3az1') format('woff'),
    url('fonts/icomoon.svg?jj3az1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-react:before {
  content: "\e904";
  color: #61dafb;
}
.icon-node-dot-js:before {
  content: "\e900";
  color: #393;
}
.icon-css3:before {
  content: "\e901";
  color: #1572b6;
}
.icon-javascript:before {
  content: "\e902";
  color: #f7df1e;
}
.icon-html5:before {
  content: "\e903";
  color: #e34f26;
}
.icon-link:before {
  content: "\e9cb";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
